---
name: Check markdown links

on:
  workflow_dispatch:
  push:
    branches:
    - master
    paths:
    - '.github/workflows/build-documentation.yaml'
    - '.github/mkdocs/**'
    - 'src/**'
  schedule:
  - cron: "0 9 * * *"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Check links
      uses: gaurav-nelson/github-action-markdown-link-check@5c5dfc0ac2e225883c0e5f03a85311ec2830d368 # v1
      with:
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        folder-path: 'src'
        config-file: 'mlc_config.json'
